<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusdemo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplusdemo.model.domain.User">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="remark" property="remark"/>
        <result column="is_deleted" property="deleted"/>
        <result column="gmt_created" property="gmtCreated"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>
    <select id="selectByUserId" resultType="com.example.mybatisplusdemo.model.domain.User">
        select *
        from user
        where id = #{userId}
    </select>
    <select id="selectById2" resultType="com.example.mybatisplusdemo.model.domain.User">
        select *
        from user
        where id = #{user.id}
    </select>

    <!-- 根据创建时间范围查询 -->
    <select id="selectByCreateTimeRange" resultMap="BaseResultMap">
        select * from user
        where 1=1
        <if test="startTime != null">
            and gmt_created >= #{startTime}
        </if>
        <if test="endTime != null">
            and gmt_created &lt;= #{endTime}
        </if>
        and is_deleted = 0
    </select>

    <!-- 自定义分页查询 -->
    <select id="selectUserPage" resultMap="BaseResultMap">
        select * from user
        <where>
            is_deleted = 0
            <if test="user.loginName!= null and user.loginName != ''">
                and login_name like concat('%', #{user.loginName}, '%')
            </if>
            <if test="user.password != null and user.password != ''">
                and password = #{user.password}
            </if>
        </where>
    </select>

    <resultMap id="withOrder" type="com.example.mybatisplusdemo.model.vo.UserVO">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="remark" property="remark"/>
        <result column="is_deleted" property="deleted"/>
        <result column="gmt_created" property="gmtCreated"/>
        <result column="gmt_modified" property="gmtModified"/>
        <collection property="orders" ofType="com.example.mybatisplusdemo.model.domain.Orders">
            <id column="oid" property="id"/>
            <result column="name" property="name"/>
            <result column="id" property="userId"/>
        </collection>
    </resultMap>
    <select id="selectWithOrdersById" resultType="com.example.mybatisplusdemo.model.vo.UserVO" resultMap="withOrder">
        select *, o.id as oid
        from user u
                 left join orders o on u.id = o.user_id
        where u.id = #{userId}
    </select>

    <select id="selectByUserNameLike" resultMap="BaseResultMap">
        select *
        from user
        where login_name like concat('%', #{userName}, '%')
          and is_deleted = 0
    </select>
    <select id="selectByUserNameAndPassword" resultType="com.example.mybatisplusdemo.model.domain.User">
        select *
        from user
        where login_name = #{login_name}
          and password = #{password}
    </select>
    <select id="selectAllSorted" resultType="com.example.mybatisplusdemo.model.domain.User">
        select *
        from user
        order by login_name desc
    </select>

    <select id="selectMy1" resultType="com.example.mybatisplusdemo.model.domain.User">
        select * from user
        <where>
            <if test="user.id != null">
                id = #{user.id}
            </if>
            <if test="user.loginName != null and user.loginName != ''">
                and login_name = #{user.loginName}
            </if>
        </where>
    </select>
    <select id="selectOrders" resultType="com.example.mybatisplusdemo.model.domain.Orders">
        select o.id,o.name,o.user_id from orders o
        join user u on o.user_id = u.id
        <where>
            <if test="userId != null">
                u.id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and u.login_name = #{userName}
            </if>
        </where>
    </select>
    <delete id="deleteByIdsMy">
        delete from user where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertUsers">
        insert into user (login_name, password)
        values
        <foreach collection="users" item="u" separator=",">
            (#{u.loginName}, #{u.password})
        </foreach>
    </insert>
</mapper>
